/***************************************/
/** START style charte graphique Fanny */ 
.navbar { margin-bottom: 20px; }
.navbar a.cet-p, a.dropdown-item { font-family: 'Courgette', cursive; color: #DD4215 !important; }
.navbar a.cet-p:hover, .cet-footer a.cet-p:hover { color: #DD4215 !important; }
.cet-bienvenue-producteurs { 
  background-color: #CAE3EE !important; color: #6C3012 !important; 
  font-family: 'Signika', sans-serif;
} 
.cet-footer a.cet-p, small.cet-email-tag { font-family: 'Courgette', cursive; color: #DD4215 !important; }
/** END style Fanny ********************/
/***************************************/

/*********************************/
/** CSS toutes pages. ************/
div.row { margin-left: 0px !important; margin-right: 0px !important; }
.btn-info { margin-top: 4px !important; }
.cet-formgroup-container { background-color: rgb(250, 250, 250); border: 1px solid lightgrey; border-radius: 4px; padding: 16px; margin-bottom: 20px; }
.cet-accordion { background-color: rgb(250, 250, 250); border: 1px solid lightgrey; border-radius: 4px; margin-bottom: 20px; }
.cet-formgroup-inner-container { background-color: rgb(255, 255, 255) !important; }
/** libellés de block : **/
label.cet-formgroup-container-label { color: rgb(30, 40, 30); font-size: 18px; }
button.cet-recherche-produit-element-btn { margin-left: 2px; }
.cet-qstprod-label-text { color: rgb(70, 80, 40); }
.cet-input-label { margin-left: 8px; }
.cet-idcetwww-char { margin-bottom: 4px; font-size: 26px; font-weight: normal; padding: 6px; }
.cet-qstprod-btnnav { margin-top: 20px; }
.cet-accordion-icon { color: #5cb85c; float: right; font-size:28px; margin-left: 12px; }
.cet-accordion-icon:hover { color: #28a745; }
.cet-accordion-badge { background-color: #5cb85c; font-size: 16px; font-weight: lighter; padding: 6px; }
.cet-accordion-badge:hover { background-color: #28a745 !important; }
.form { margin-bottom: 60px; }
label { margin-left: 4px !important; }
.table { border-style: 1px solid black !important; }
.carousel-inner p, h5, span, li, ol { color: black; }
.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}
.carousel-item .img-fluid {
  width:100%;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: rgb(34, 139, 34);
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: rgb(34, 139, 34);
}
.cet-footer {
  padding: 2.5rem 0;
  color: #999;
  background-color: #f9f9f9;
}
.cet-footer p:last-child {
  margin-bottom: 0;
}
p.cet-p, a.cet-p { color: rgb(34, 139, 34) !important; }
a.cet-p:hover { color: rgb(34, 100, 34) !important; }
li.cet-footer-li { background-color: #f9f9f9; }

span.cet-qstprod-produit-type { 
  font-size: 14px; 
  border: 1px solid grey;
  border-radius: 3px;
  padding: 6px;
  margin: 2px;
  display: inline-block;
}

span.cet-qstprod-produit-type.legumes {
  color: #007E33 !important;
  border: 1px solid #007E33;
}
span.cet-qstprod-produit-type.viandes {
  color: #ef5350 !important;
  border: 1px solid #ef5350;
}
span.cet-qstprod-produit-type.laitiers {
  color: #69f0ae !important;
  border: 1px solid #69f0ae;
}
span.cet-qstprod-produit-type.ruches {
  color: #ffa000 !important;
  border: 1px solid #ffa000;
}
span.cet-qstprod-produit-type.fruits {
  color: #ef6c00 !important;
  border: 1px solid #ef6c00;
}
span.cet-qstprod-produit-type.champignons {
  color: #4e342e !important;
  border: 1px solid #4e342e;
}
span.cet-qstprod-produit-type.plantes {
  color: #1b5e20 !important;
  border: 1px solid #1b5e20;
}
span.cet-qstprod-produit-type.semences {
  color: #00695c !important;
  border: 1px solid #00695c;
}
span.cet-qstprod-produit-type.transformes {
  color: #0d47a1 !important;
  border: 1px solid #0d47a1;
}

span.cet-qstprod-produit-type.hygienes {
  color: #37474F !important;
  border: 1px solid #37474F;
}
span.cet-qstprod-produit-type.entretiens {
  color: #37474F !important;
  border: 1px solid #37474F;
}
span.cet-qstprod-produit-type.nourritureanimaux {
  color: #37474F !important;
  border: 1px solid #37474F;
}
span.cet-qstprod-produit-type.autres {
  color: #37474F !important;
  border: 1px solid #37474F;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}