.leaflet-popup-tip, .leaflet-popup-content-wrapper { 
	background-color: #ffff8d !important; 
	font-family: 'Signika', sans-serif;
	padding-right: 16px !important;
}
.cet-ann-crt-popuptext, .cet-ann-crt-head-text { 
	font-family: 'Signika', sans-serif;
	color: #DD4215 !important; 
	font-size: 16px;
	font-weight: bold;
}
#cet-annuaire-crt-mini-fiche-producteur-container {
	border-radius: 4px;
	background-color: white !important; 
  	color: #6C3012 !important; 
  	font-family: 'Signika', sans-serif;
}
#cet-annuaire-crt-mini-fiche-producteur-libelle {
	margin-top: 8px;
}
.cet-an-crt-btn { 
	/* bouton de carton popup. Btn vers page producteur */
	color: white !important;
	background-color: #DD4215 !important; 
	border: 1px solid #DD4215 !important;
}
.cet-an-crt-btn:hover {
	text-decoration: underline !important;
}
.cet-crt-icon { margin-top: 6px; margin-right: 6px; }
.cet-crt-link { color: #007E33 !important; }